.nav-item {
    background-color:darkslategray;
    border-radius:10%;
}

.nav-item a{
    background-color: none;
    border-radius:10%;
}

.nav-container{
    margin-top:2%;
    display:flex;
    justify-content: space-evenly;
    border:none;
}