
/* margin and grid settings for all tab areas */

.nav-item {
  background-color: darkslategray;
  border-radius: 10%;
}

.nav-item a {
  background-color: none;
  border-radius: 10%;
}

.nav-container {
  margin-top: 0% ;
  margin-bottom: 5% ;
  display: flex;
  justify-content: space-evenly;
  border: none;
  color: white;
}

.tab-content {
  display: flex;
  justify-content: center;
  flex-direction:row;
  overflow: hidden;
  align-items: center;
  align-content: center;
  width: 85%;
  margin: auto auto;
  color: rgb(106, 172, 172);
}

table {
  width: 700px;
  height: 200px;
}



/* Content on the home page */
.staff-boxes {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.staff-container-wrap {
  width: 75%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  min-height: 375px;
  min-width: 350px;
  font-size: 0.8rem;
  margin:auto;
  margin-bottom:20px;
}

.staff-container-top {
  background-image: linear-gradient(black, darkslategray);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid purple;
  background-color:
}




.staff-picture-wrap {
  width: 40%;
  height: 100%;
  max-height: 200px;
  max-width: 150px;
  border: 1px solid green;
  border-radius:50%;
  margin:auto;
}

.staff-picture {
  height: 100%;
  width: 100%;
  border-radius:50%;
  
}

.staff-container-bottom {
  background-color:darkslategray;
  flex-direction: row;
  text-align: left;
  border: 1px solid orange;
  height: 60%;
  width: 100%;
}
.staff-text-wrap{
  height:96%;
  width:96%;
  margin:2% auto;
}