
.classroom-name {
    text-align:center;
    text-decoration:underline;
}

.classroom-image-container {
    display:flex;
    flex-direction: row;
    margin:3% auto;
}

.classroom-preview-image {
margin: auto;
max-width: 45%;

}

