@media only screen and (max-width:1064px) {

    .sidebar-button {
      font-size:0.9rem;
    }
    .sidebar-button p {
      margin:auto auto;
    }
    .sidebar-button:hover p{
      font-size:1.4rem;
    }
  
  }
  
  @media only screen and (max-width:850px) {
    .sidebar-button:hover p {
      font-size:1.2rem;
    }
  }
  
  /* mobile restructuring */
  @media only screen and (max-width:785px) {
  

    .sidebar-container {
      position:static;
      margin:auto auto;
      height:25%;
      width: 100%;
      box-shadow: none;
    }
  
    .sidebar-contact-wrap-mobile{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      background-color: rgb(63, 61, 61);
      }

      .sidebar-contact-container-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(63, 61, 61);
        margin:5px auto;
        height: 95%;
        width: 85%;
        border-radius: 4%;
        
      }
      

      .sidebar-contact-container-mobile a {
        font-size:0.6rem;
        color:rgb(127,173,53);
      }
      
      .sidebar-bottom-wrap:hover p{
        color:#CEE0F2;
      }

    .sidebar-top {
      height: 75%;
      background-color: rgb(63, 61, 61);
      display:flex;
      align-items:center;
      align-content:center;
    }
    
    .sidebar-logo-tile {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: auto auto;
      height: 70%;
      width: 65%;
      border-radius: 2%;
      /* box-shadow: 3px 3px 10px grey; */
      transition: 1s;
      animation: shadow 20s infinite;
    }
    
    .sidebar-container:hover {
      /* animation: shadow 30s ease-in-out infinite; */
        animation:none;
      background-color:rgb(45, 45, 45);
    
    }
    .sidebar-container:hover .sidebar-logo-tile {
      animation: shadow 20s ease-in-out infinite;
      background-color:rgb(45, 45, 45);
    
    }
    
    .sidebar-container:hover .sidebar-logo-wrap {
      box-shadow: 2px 2px 10px purple, -2px 2px 10px orange, 2px -2px 10px peachpuff, -2px -2px 10px green;
    }
    
    .sidebar-logo-wrap {
      display:flex;
      justify-content:center;
      align-content: center;
      align-items: center;
      margin: auto auto;
      height: 90%;
      width: 90%;
      border-radius: 50%;
      box-shadow:3px 3px 10px grey, -3px 3px 10px grey;
    transition:0.5s;
    }
    .sidebar-logo {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      margin:auto auto;
      border:5px dotted green;
     
    }
    
    .sidebar-middle {
      display: flex;
      flex-direction: row;
      height: 15%;
      width:100%;
      background-color: rgb(63, 61, 61);
    }
    
    .sidebar-link {
      height: 30px;
      width: 40%;
      border: 1px solid black;
    }
    .sidebar-button {
      height:100%;
      width:100%;
      background-color: rgb(63, 61, 61); 
      border: 1px solid grey;
      font-size:0.7rem;
      color:white;
      font-family: 'Yeon Sung', cursive;
      box-shadow: 2px 2px 10px grey, -2px 2px 10px transparent, 2px -2px 10px transparent, -2px -2px 10px transparent ;
      transition:0.3s;
    }
    
    .sidebar-button p {
      transition:transform 300ms ease-in-out;
    
    }
    
    .sidebar-button:hover {
      animation: shadow 7s ease-in infinite;
      background-color:rgb(45, 45, 45);
      border-radius:7%;
    }
    .sidebar-button:hover p {
      transform: none;
      font-size: 0.8rem;
    }
    
    .sidebar-bottom-wrap {
       display:none;
    }
    
  }